<section class="advantages section" id="advantages">
  <div class="advantages__container">
    <h2 class="section__title">Наши принципы — <br><span class="accent">Ваши преимущества</span></h2>
    <ul class="advantages__list">
      <li class="advantages__item">
        <div class="advantages__box">
          <h3 class="advantages__heading">Превосходное качество</h3>
          <p class="advantages__descr">У&nbsp;нас собственное производство, каждый этап проходит под строгим контролем</p>
        </div>
        <span class="advantages__number">01</span>
      </li>
      <li class="advantages__item">
        <div class="advantages__box">
          <h3 class="advantages__heading">Гарантия</h3>
          <p class="advantages__descr">Мы&nbsp;предоставляем гарантию 1&nbsp;год на&nbsp;качество выполненных работ</p>
        </div>
        <span class="advantages__number">02</span>
      </li>
      <li class="advantages__item">
        <div class="advantages__box">
          <h3 class="advantages__heading">Не&nbsp;быстро, а&nbsp;очень быстро</h3>
          <p class="advantages__descr">Два производства работают в&nbsp;режиме 24/7, поэтому ваш заказ будет выполнен и&nbsp;смонтирован в&nbsp;кратчайшие сроки!</p>
        </div>
        <span class="advantages__number">03</span>
      </li>
      <li class="advantages__item">
        <div class="advantages__box">
          <h3 class="advantages__heading">Клиентский сервис</h3>
          <p class="advantages__descr">Быстрый ответ на&nbsp;запросы клиентов</p>
        </div>
        <span class="advantages__number">04</span>
      </li>
      <li class="advantages__item">
        <div class="advantages__box">
          <h3 class="advantages__heading">Клиентский сервис</h3>
          <p class="advantages__descr">Быстрый ответ на&nbsp;запросы клиентов</p>
        </div>
        <span class="advantages__number">05</span>
      </li>
      <li class="advantages__item">     
        <div class="advantages__box">
          <h3 class="advantages__heading">Клиентский сервис</h3>
          <p class="advantages__descr">Быстрый ответ на&nbsp;запросы клиентов</p>
        </div>
        <span class="advantages__number">06</span>
      </li>
    </ul>
   
  </div>
</section>