<section class="gallery section" id="gallery">
  <div class="gallery__container">
    <h2 class="section__title accent">Галлерея</h2>
    <div class="gallery__swiper swiper">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <div class="gallery__image">
            <img src="/public/img/hero-1.jpg" alt="">
          </div>
          <span class="gallery__descr">Веранда</span>
        </div>
        <div class="swiper-slide">
          <div class="gallery__image">
            <img src="/public/img/hero-1.jpg" alt="">
          </div>
          <span class="gallery__descr">Терраса</span>
        </div>
        <div class="swiper-slide">
          <div class="gallery__image">
            <img src="/public/img/hero-1.jpg" alt="">
          </div>
          <span class="gallery__descr">Беседка</span>
        </div>
        <div class="swiper-slide">
          <div class="gallery__image">
            <img src="/public/img/hero-1.jpg" alt="">
          </div>
          <span class="gallery__descr">Веранда в Балашихе</span>
        </div>
      </div>
    </div>
  </div>
</section>