<section class="hero section" id="hero" data-section="hero">
  <div class="hero__container">
    <div class="hero__info">
      <h1 class="hero__title">МЯГКИЕ ОКНА ИЗ ГИБКОГО ПВХ</h1>
      <p class="hero__descr">Мы производим и устанавливаем мягкие окна уже более 7 лет!</p>
    </div>
    <div class="hero__swiper swiper">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <img src="/public/img/hero-1.jpg" alt="">
        </div>
        <div class="swiper-slide">
          <img src="/public/img/hero-2.jpg" alt="">
        </div>
        <div class="swiper-slide">
          <img src="/public/img/hero-3.jpg" alt="">
        </div>
        <div class="swiper-slide">
          <img src="/public/img/hero-4.jpg" alt="">
        </div>
      </div>
    </div>
  </div>
</section>