<section class="products section" id="products">
  <div class="products__container">
    <h2 class="section__title accent">Продукция</h2>
    <ul class="products__list">
      <li class="products__item">
        <div class="products__image">
          <img src="/public/products/1.jpg" alt="">
        </div>
        <div class="products__box">
          <h3 class="products__heading">Круглый люверс</h3>
          <p class="products__decr">
            Люверсы используются для производства и&nbsp;установки автомобильных тентов, мягких окон ПВХ, тентовых конструкций,
            наружной рекламы. Благодаря им&nbsp;можно
            натягивать ткань, без получения разрывов и&nbsp;других механических повреждений.
          </p>
        </div>
        <button class="js-modal-btn js-product-btn products__btn">Заказать</button>
      </li>
      <li class="products__item">
        <div class="products__image">
          <img src="/public/products/2.jpg" alt="">
        </div>
        <div class="products__box">
          <h3 class="products__heading">Круглый люверс</h3>
          <p class="products__decr">
            Люверсы используются для производства и&nbsp;установки автомобильных тентов, мягких окон ПВХ, тентовых конструкций,
            наружной рекламы. Благодаря им&nbsp;можно
            натягивать ткань, без получения разрывов и&nbsp;других механических повреждений.
          </p>
        </div>
        <button class="js-modal-btn js-product-btn products__btn">Заказать</button>
      </li>
      <li class="products__item">
        <div class="products__image">
          <img src="/public/products/3.jpg" alt="">
        </div>
        <div class="products__box">
          <h3 class="products__heading">Круглый люверс</h3>
          <p class="products__decr">
            Люверсы используются для производства и&nbsp;установки автомобильных тентов, мягких окон ПВХ, тентовых конструкций,
            наружной рекламы. Благодаря им&nbsp;можно
            натягивать ткань, без получения разрывов и&nbsp;других механических повреждений.
          </p>
        </div>
        <button class="js-modal-btn js-product-btn products__btn">Заказать</button>
      </li>
      <li class="products__item">
        <div class="products__image">
          <img src="/public/products/4.jpg" alt="">
        </div>
        <div class="products__box">
          <h3 class="products__heading">Круглый люверс</h3>
          <p class="products__decr">
            Люверсы используются для производства и&nbsp;установки автомобильных тентов, мягких окон ПВХ, тентовых конструкций,
            наружной рекламы. Благодаря им&nbsp;можно
            натягивать ткань, без получения разрывов и&nbsp;других механических повреждений.
          </p>
        </div>
        <button class="js-modal-btn js-product-btn products__btn">Заказать</button>
      </li>
      <li class="products__item">
        <div class="products__image">
          <img src="/public/products/1.jpg" alt="">
        </div>
        <div class="products__box">
          <h3 class="products__heading">Круглый люверс</h3>
          <p class="products__decr">
            Люверсы используются для производства и&nbsp;установки автомобильных тентов, мягких окон ПВХ, тентовых конструкций,
            наружной рекламы. Благодаря им&nbsp;можно
            натягивать ткань, без получения разрывов и&nbsp;других механических повреждений.
          </p>
        </div>
        <button class="js-modal-btn js-product-btn products__btn">Заказать</button>
      </li>
      <li class="products__item">
        <div class="products__image">
          <img src="/public/products/1.jpg" alt="">
        </div>
        <div class="products__box">
          <h3 class="products__heading">Круглый люверс</h3>
          <p class="products__decr">
            Люверсы используются для производства и&nbsp;установки автомобильных тентов, мягких окон ПВХ, тентовых конструкций,
            наружной рекламы. Благодаря им&nbsp;можно
            натягивать ткань, без получения разрывов и&nbsp;других механических повреждений.
          </p>
        </div>
        <button class="js-modal-btn js-product-btn products__btn">Заказать</button>
      </li>
    </ul>
  </div>
</section>