<section class="question section" id="question">
  <div class="question__container">
    <h2 class="section__title  accent">Вопросы</h2>
    <ul class="question__acrd">
      <li class="question__item acrd-open">
        <h3 class="question__heading">
          Можно ли сделать ремонт мягких стёкол при повреждении?
          <div class="question__acrd-arrow">
            <svg width="16" height="17" viewBox="0 0 16 17" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M8.19653 0L8.19653 14.9234" stroke="#454040" stroke-width="1.5"></path>
              <path d="M1.46964 7.53747L8.23486 15.0749L15.0001 7.53747" stroke="#454040" stroke-width="1.5"></path>
            </svg>
          </div>
        </h3>
        <div class="question__content text-content" style="height: 145px;">
          <p>
            Поскольку пленка ПВХ универсальный и&nbsp;пластичный материал, ремонт многих повреждений мягких окон возможен. Позвоните нашим менеджерам, чтобы уточнить все детали. 
          </p>
          <p>
             Мы&nbsp;уверены, что наши специалисты смогут найти решение даже в&nbsp;самой сложной ситуации.
          </p>
        </div>
      </li>
      <li class="question__item">
        <h3 class="question__heading">
          Можно ли сделать ремонт мягких стёкол при повреждении?
          <div class="question__acrd-arrow">
            <svg width="16" height="17" viewBox="0 0 16 17" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M8.19653 0L8.19653 14.9234" stroke="#454040" stroke-width="1.5"></path>
              <path d="M1.46964 7.53747L8.23486 15.0749L15.0001 7.53747" stroke="#454040" stroke-width="1.5"></path>
            </svg>
          </div>
        </h3>
        <div class="question__content text-content">
          <p>
            Поскольку пленка ПВХ универсальный и&nbsp;пластичный материал, ремонт многих повреждений мягких окон возможен. Позвоните нашим менеджерам, чтобы уточнить все детали. Мы&nbsp;уверены, что наши специалисты смогут найти решение даже в&nbsp;самой сложной ситуации.
          </p>
        </div>
      </li>
      <li class="question__item">
        <h3 class="question__heading">
          Можно ли сделать ремонт мягких стёкол при повреждении?
          <div class="question__acrd-arrow">
            <svg width="16" height="17" viewBox="0 0 16 17" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M8.19653 0L8.19653 14.9234" stroke="#454040" stroke-width="1.5"></path>
              <path d="M1.46964 7.53747L8.23486 15.0749L15.0001 7.53747" stroke="#454040" stroke-width="1.5"></path>
            </svg>
          </div>
        </h3>
        <div class="question__content text-content">
          <p>
            Поскольку пленка ПВХ универсальный и&nbsp;пластичный материал, ремонт многих повреждений мягких окон возможен. Позвоните нашим менеджерам, чтобы уточнить все детали. Мы&nbsp;уверены, что наши специалисты смогут найти решение даже в&nbsp;самой сложной ситуации.
          </p>
        </div>
      </li>
      <li class="question__item">
        <h3 class="question__heading">
          Можно ли сделать ремонт мягких стёкол при повреждении?
          <div class="question__acrd-arrow">
            <svg width="16" height="17" viewBox="0 0 16 17" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M8.19653 0L8.19653 14.9234" stroke="#454040" stroke-width="1.5"></path>
              <path d="M1.46964 7.53747L8.23486 15.0749L15.0001 7.53747" stroke="#454040" stroke-width="1.5"></path>
            </svg>
          </div>
        </h3>
        <div class="question__content text-content">
          <p>
            Поскольку пленка ПВХ универсальный и&nbsp;пластичный материал, ремонт многих повреждений мягких окон возможен. Позвоните нашим менеджерам, чтобы уточнить все детали. Мы&nbsp;уверены, что наши специалисты смогут найти решение даже в&nbsp;самой сложной ситуации.
          </p>
        </div>
      </li>
      <li class="question__item">
        <h3 class="question__heading">
          Можно ли сделать ремонт мягких стёкол при повреждении?
          <div class="question__acrd-arrow">
            <svg width="16" height="17" viewBox="0 0 16 17" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M8.19653 0L8.19653 14.9234" stroke="#454040" stroke-width="1.5"></path>
              <path d="M1.46964 7.53747L8.23486 15.0749L15.0001 7.53747" stroke="#454040" stroke-width="1.5"></path>
            </svg>
          </div>
        </h3>
        <div class="question__content text-content">
          <p>
            Поскольку пленка ПВХ универсальный и&nbsp;пластичный материал, ремонт многих повреждений мягких окон возможен. Позвоните нашим менеджерам, чтобы уточнить все детали. Мы&nbsp;уверены, что наши специалисты смогут найти решение даже в&nbsp;самой сложной ситуации.
          </p>
        </div>
      </li>
    </ul>
  </div>
</section>